
.dataTables_filter {   /*Remove the search box*/
    display: none;
}

#family_id{width: 50px;}
.date{width: 150px;}

#tablesearch{width:100%;}

#DTable1{width:100%; margin: 0 auto;}

#tabs{width:100%; margin-left:-5px;}

.error{background-color:red;}

/*#distr3{visibility: hidden;}*/


td{cursor: pointer;}

/*.row_selected2{background-color: #e8e2a5 !important;}*/