/*Filtro ricerca*/
body{
overflow-y: hidden;
}
#tablesearch{margin-top:30px;}
.radiobtn{padding-left:20px;}
#tablesearch{width:100%; margin-bottom:0;}

/*DataTable*/
#DTable{width:100%;}

td{cursor: pointer; font-size: 1.3em !important; padding-top:3px; padding-bottom:3px;}

