.item{border:2px solid gray; width:180px; cursor:pointer; min-height: 90px;}
.photoproduct{padding-top: 4px;}
.content{margin:0 auto; margin-top: 40px; width:600px;}
.limit{margin-right:15px;}
.gridster ul{
    list-style: none;
}
